:root {
	height: 100%;
}
body {
	margin: 0;
	min-height: 100%;
}
#main {
	box-sizing: border-box;
	font-size: 11pt;
	max-width: 100%;
	width: min-content;
}
section {
	display: none;
	grid-auto-columns: 72px;
	grid-auto-rows: 25px;
	scroll-snap-type: both mandatory;
}
section:target {
	display: grid;
}
section > * {
	display: contents;
}
section > * > *, .header-topleft {
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	cursor: cell;
	display: block;
	overflow: clip;
	white-space: pre;
	scroll-snap-align: start;
}
.header-topleft {
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	left: 0;
	top: 0;
	z-index: 2 !important;
}
.header-columns > * {
	border-top: 1px solid #aaa;
	top: 0;
}
.header-rows > * {
	border-left: 1px solid #aaa;
	left: 0;
	padding: 0 5px;
}
[class|=header] {
	background-color: #eee;
	cursor: default;
	position: sticky;
	text-align: center;
	z-index: 1;
}
[data-text]::after {
	content: attr(data-text);
}
.cell {
	padding: 0 2.5px;
}
.cell:has(+ :empty) {
	overflow-x: visible;
}
.cell:not(:empty) {
	display: flex;
	flex-direction: column;
}
.cell:has(:nth-child(2)) {
	align-items: baseline;
	/* flex-flow: row wrap; */
	align-content: start;
}
.cell:has(+ .border-left) {
	border-right: none;
}
.cell > .vertical-top {
	margin-bottom: auto;
}
.cell > .vertical-center {
	margin: auto 0;
}
.cell > .vertical-bottom {
	margin-top: auto;
}
.cell > .wrap {
	white-space: pre-wrap;
}
[data-type=e] {
	text-align: center;
}
[data-type=n] {
	text-align: right;
}

footer {
	bottom: 0;
	position: fixed;
	z-index: 3;
}